.cardFilm {
  padding: 1rem 0rem 1rem 0rem;
  border-radius: 2px;
  background-color: #222222;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.8);
  text-align: left;
  width: 20rem;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0rem 2rem 2rem 2rem;
}

.imgFilm {
  width: 19rem;
  height: auto;
  border-radius: 0.1rem;
  object-fit: cover;
  padding: 1rem;
}
